body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:395px;
    top:72px;
    width:212px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:395px;
    top:107px;
    width:220px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:395px;
    top:140px;
    width:220px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:395px;
    top:169px;
    width:58px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../主页_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:242px;
    top:20px;
    width:868px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:874px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:864px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../主页_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:1020px;
    top:62px;
    width:12px;
    height:21px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:27px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../主页_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:1032px;
    top:62px;
    width:78px;
    height:21px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:27px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:1033px;
    top:65px;
    width:71px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../主页_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:1088px;
    top:64px;
    width:16px;
    height:16px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u12 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_menu {
    background-image: url('../主页_files/u13_menu.png');
}

.u13_menu {
    position:absolute;
    left:239px;
    top:59px;
    width:152px;
    height:549px;
}

#u13_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:546px;
}

#u14 {
    position:absolute;
    left:1px;
    top:1px;
    width:146px;
    height:543px
}

.u15_normal {
    background-image: url('../主页_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:141px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../主页_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:20px;
    width:141px;
    height:29px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:35px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../主页_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:49px;
    width:141px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../主页_files/u15_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:69px;
    width:141px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../主页_files/u15_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:89px;
    width:141px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../主页_files/u15_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:109px;
    width:141px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../主页_files/u15_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:129px;
    width:141px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../主页_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:149px;
    width:141px;
    height:389px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:395px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:250px;
    top:85px;
    width:130px;
    height:23px;
    ;
    ;
    text-align: left;;
    font-family:'华康少女文字W5(P)';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32_normal {
    background-image: url('../主页_files/triangle__left_u32_normal.png');
}

.u32_container {
    position:absolute;
    left:342px;
    top:297px;
    width:43px;
    height:70px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:70px;
}

.u33 {
    position:absolute;
    left:2px;
    top:27px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../主页_files/box_u34_normal.png');
}

.u34_container {
    position:absolute;
    left:395px;
    top:247px;
    width:715px;
    height:355px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:715px;
    height:355px;
}

.u35 {
    position:absolute;
    left:2px;
    top:170px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../主页_files/line__diagonal_L_R_u36_normal.png');
}

.u36_container {
    position:absolute;
    left:395px;
    top:247px;
    width:708px;
    height:328px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:708px;
    height:328px;
}

.u37 {
    position:absolute;
    left:2px;
    top:156px;
    width:704px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../主页_files/line__diagonal_R_L_u38_normal.png');
}

.u38_container {
    position:absolute;
    left:395px;
    top:247px;
    width:708px;
    height:328px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:708px;
    height:328px;
}

.u39 {
    position:absolute;
    left:2px;
    top:156px;
    width:704px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../主页_files/image_placement_label_u40_normal.png');
}

.u40_container {
    position:absolute;
    left:651px;
    top:391px;
    width:192px;
    height:40px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:198px;
    height:46px;
}

.u41 {
    position:absolute;
    left:2px;
    top:10px;
    width:188px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../主页_files/line__horizontal_u42_normal.png');
}

.u42_container {
    position:absolute;
    left:395px;
    top:198px;
    width:715px;
    height:4px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:715px;
    height:4px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-6px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u44_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:453px;
    top:169px;
    width:140px;
    height:23px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:29px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:1037px;
    top:386px;
    width:40px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../主页_files/button_u47_mouseOver.png');
}

.u47_mouseDown {
    background-image: url('../主页_files/button_u47_mouseDown.png');
}

.u47_selected {
    background-image: url('../主页_files/button_u47_mouseOver.png');
}

.u47_disabled {
    background-image: url('../主页_files/button_u47_disabled.png');
}

.u47_normal {
    background-image: url('../主页_files/button_u47_normal.png');
}

.u47_container {
    position:absolute;
    left:1026px;
    top:422px;
    width:104px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:104px;
    height:25px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:1026px;
    top:426px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

